/* This stylesheet is used to style the admin option form of the plugin. */
fieldset.wp_notice {
    border-bottom: 1px solid black;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: auto;
}

fieldset.wp_notice > .form-group textarea {
    display: inline-block;
    height: 100px;
    width: 800px;
}
fieldset.wp_notice > .form-group > label {
    display: block;
}
fieldset.wp_notice > .wp_notice_conditions.form-group > label {
    display: inline-block;
    width: 80px;
}
fieldset.wp_notice > .wp_notice_conditions.form-group > select {
    display: inline-block;
    width: 225px;
}
.wp_notice_time {
    display: inline-block;
    width: 90px;
}
#wp_notice_form button {
    cursor: pointer;
}
.wp_notice_close_me {
    cursor: pointer;
    float: right;
    font-size: large;
}

.rtl .wp_notice_close_me {
    float: left;
}

fieldset.wp_notice > div.wp_notice_style > label {
    display: inline;
}

fieldset.wp_notice > div.wp_notice_position > label {
    display: inline;
}

.wp_notice_animation.form-group > span {
    display: inline-block;
}

.wp_notice_animation_type {
    width: 90px;
}

.wp_notice_animation_duration {
    width: 60px;
}

.wp_notice_animation_repeat {
    width: 60px;
}


