.wp_notice_message {
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.wp_notice_message.wp-notice-regular {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.wp_notice_message.wp-notice-success {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.wp_notice_message.wp-notice-info {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.wp_notice_message.wp-notice-warning {
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}

.wp_notice_message.wp-notice-danger {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

